#controller {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    transition: all 0.5s ease;
}

#controller.menu-in {
    margin-left: 300px;
}

#controller .midi-control-btn, 
#controller .midi-control-knob, 
#controller .midi-control-switch, 
#controller .midi-control-slider {
    z-index: 100 !important;
    user-select: none;
}

#controller .midi-control-btn:active,
#controller .midi-control-knob:active, 
#controller .midi-control-switch:active, 
#controller .midi-control-slider:active  {
    opacity: 0.5;
}

#controller .midi-control-slider .MuiSlider-rail {
    width: 100%;
    background-color: #999;
    opacity: 1;
    border: 1px #777 solid;
    border-radius: 4px;
}

#controller .midi-control-slider .MuiSlider-track {
    width: 100%;
    background-color: #0b4;
    border: 1px #777 solid;
    border-radius: 4px;
}

#controller .midi-control-slider .MuiSlider-thumb {
    width: calc(100% + 6px);
    height: 12px;
    border-radius: 0;
    margin-left: -3px;
    border: 1px #777 solid;
    background: #fff;
    border-radius: 4px;
}

#controller .midi-control-knob {
}

#controller .midi-control-knob:active {
    overflow: visible !important;
}

#controller .midi-control-knob::after {
    content: '';
    display: block;
    width: 1px;
    height: 8px;
    position: absolute;
    top: calc(100% - 8px);
    left: calc(50% - 0.5px);
    z-index: 10;
    background: #444;
}

#controller .midi-control-btn {
    background-color: #0b4;
    border: 1px #777 solid;
    border-radius: 4px;
}


#backdrop {
    background-size: 40px 40px;
    background-position: -5px -5px;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -320px;
    background: #fff;
    border-right: 3px #333 solid;
    display: inline-block;
    width: 300px;
    height: 100%;
    overflow: auto;
    padding: 20px 15px 50px 15px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

#sidebar .sidebar-btn-group {
    display: flex;
    justify-content: space-between;
}

#sidebar .btn {
    line-height: 10px;
}

#sidebar .btn + .btn {
    margin-left: 0px;
}

.btn-menu {
    display: block;
    position: fixed;
    top: 75px;
    right: 20px;
    line-height: 10px;
    padding: 10px 12px;
    z-index: 99;
}

.btn-menu-close {
    /*display: none;*/
}

.menu-in #sidebar {
    left: 0;
}

/* Controls */
.switch-control {
    position: relative;
    overflow: hidden;
}

.switch-control input {
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.switch-control input::after {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #eee;
    border: 1px #aaa solid;
}

.switch-control input:checked::after {
    left: 50%;
}

.switch-control input::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #999;
    border: 1px #777 solid;
}

@media (max-width: 647px){

    .btn-menu-close {
        display: block;
        float: right;
    }

    #sidebar {
        left: -320px;
    }

    #controller {
        margin-left: 0;
    }
}