body,
html,
#root,
#main {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.config-btn-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99;
}

.config-btn-wrapper .btn {
  line-height: 0px;
  padding: 8px 10px;
}

.config-btn-wrapper .btn i {
  font-size: 28px;
}